<div class="garysv1-equipment-content">
    

    <!-- Coins Inline Display -->
    <div class="garysv1-coins-inline">
        <label><strong>Coins:</strong></label>
        <input type="text" name="system.coins.first" value="{{actor.system.coins.first}}" class="garysv1-input garysv1-coin-inline" />
        <span class="garysv1-coin-label">coins</span>
    </div>


    <!-- Weapons Section -->
    <div class="garysv1-weapons-section">
        <h4>{{localize "ldoa.headers.weapons"}}</h4>
        <div class="garysv1-items-list">
            {{#each weapons as |weapon id|}}
            <div class="garysv1-item-row">
                <span class="ldoa-item-name" data-item-id="{{item._id}}">{{item.name}}</span>

                <span class="garysv1-item-damage">{{system.damage}}</span>
                <i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" data-item="{{item._id}}" data-type="{{type}}" title="{{localize 'ldoa.fields.titles.deleteWeapon'}}"></i>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Equipment Section -->
    <p>Equipment count: {{equipment.length}}</p>

    <div class="garysv1-equipment-section">
        <h4>{{localize "ldoa.headers.equipment"}}</h4>
        <div class="garysv1-items-list">
            <p>Total items: {{actor.items.length}}</p>
            {{#each equipment as |item id|}}
            <div class="garysv1-item-row">
                <span class="ldoa-item-name" data-item-id="{{item._id}}">{{item.name}}</span>

                <span class="garysv1-item-quantity">{{system.quantity}}</span>
                <i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" data-item="{{item._id}}" data-type="{{type}}" title="{{localize 'ldoa.fields.titles.deleteEquipment'}}"></i>
            </div>
            {{/each}}
        </div>
    </div>
    
    <!-- Consumables Section -->
    <div class="garysv1-consumables-section">
        <h4>{{localize "ldoa.headers.consumables"}}</h4>
        <div class="garysv1-items-list">
            {{#each consumables as |item id|}}
            <div class="garysv1-item-row">
                <span class="ldoa-item-name" data-item-id="{{item._id}}">{{item.name}}</span>

                <span class="garysv1-item-quantity">{{system.quantity}}</span>
                <i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" data-item="{{item._id}}" data-type="{{type}}" title="{{localize 'ldoa.fields.titles.deleteConsumable'}}"></i>
            </div>
            {{/each}}
        </div>
    </div>
</div>